<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="PATTERN">%d{DEFAULT} %-5level --- [%15threadName] %-40class{1.} : %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>